<%= form_with(model: @whisper, local: true) do |form| %>
    <div class = "whisper_content">
    <%= form.text_field :content%>
    </div>
    <%= form.submit "whisper"%>
<% end %>
<br>
<%=link_to(whispers_path) do %>
    <button class="btn btn-secondary btn-lg" >back</button>
 <%end%>